*{ margin: auto; 
			padding: 0; 
	}
html { }
img { padding: 0; 
					margin: 0;  
					display: block; 
}

a, a:active, a:visited{ 
		text-decoration: none; 
}

body{ 
		background-color: #070302; 

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

 @font-face { font-family: DinPro-Bold; src: url('fonts/DINPro-Bold.otf'); } 

 @font-face { font-family: DinPro-Black; src: url('fonts/DINPro-Black.ttf'); } 	

 @font-face { font-family: DinPro-Med; src: url('fonts/DINPro-Medium.ttf'); } 	


#top_bg { 
		padding: 0; 
		margin: auto; 
		width: 100%;  
}

#top_wrap {
		background-color: #008843;
		max-width: 960px; 
}

#top_wrap img { 
		width: 100%; 
}

#content_wrap{
	 padding: 40px;  
		max-width: 960px; 
}

#content_wrap h1 {
		font-family: DinPro-Bold, sans-serif; 
		letter-spacing: 0.25em;
		text-transform: uppercase; 
		text-align: center;
		color: #fff; 
		font-size: 2em; 
		padding-bottom: 40px; 
}

#content_wrap p {
		line-height: 170%;
		font-family: DinPro-Med, sans-serif; 
		color: #fff; 
		padding-bottom: 40px; 
}

.content_hl {
		color: #2fad3b; 
}

.content {
		max-width: 960px; 
		padding-left: 15%; 
		padding-right: 15%; 
}
.cta_button{
		text-transform: uppercase; 
		font-family: DinPro-Med, sans-serif; 
		line-height: 100%;
		padding: 8px; 
		font-size: 1.5em; 	 
		color: #fff;  
		text-align: center; 
		max-width: 300px;
		background-color:#008843;  

		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;

		border-bottom: solid 3px #006433; 

}

#logos {
		margin-top: 60px; 
		max-width: 960px;  
		margin-bottom: 40px; 
}

#logos img { 
		width: 100%; 
	}

#legal { 
		width: 680px; 
		text-align: center;
		border-top: 1px solid #555; 
		padding-top: 20px; 
		font-size: 14px ; 
		color: #555; 

}